@page "/meus-voos"

<h1 class="mt-3 mb-3">Meus vôos</h1>

<div class="card">
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Número ticket</th>
                    <th class="text-center">Data da compra</th>
                    <th>Vôo</th>
                    <th class="text-end">Valor</th>
                </tr>
            </thead>
            <tbody>
               <tr>
                   <td>#10000</td>
                   <td class="text-center">10/07/2021</td>
                   <td>GRU > CMP</td>
                   <td class="text-end">R$ 500,00</td>
               </tr> 
            </tbody>
        </table>
    </div>
</div>
